html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

/*div,
article,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}*/

.main-header {
  color: #1a1a1a;
  background-color: #f0f0f0;
}

.main-header::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #c01a13;
}

.header-wrapper {
  max-width: 1173px;
  margin: 0 auto;
  padding: 10px 0 15px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.company-info {
  float: left;
}

.main-logo,
.company-title {
  display: inline-block;
  vertical-align: bottom;
}

.main-logo {
  margin-right: 15px;
}

.company-title {
  margin: 0;
  font-weight: 500;
  font-size: 1.875em; /*30/16*/
  line-height: 1.1;
  letter-spacing: 0.08em;
}

.user-info {
  float: right;
  font-weight: 700;
}

.header-phone {
  position: relative;
  margin: 0 0 10px 0;
  font-size: 2.25em; /*36/16*/
  letter-spacing: 0.08em;
}

.red-text {
  color: #fd2017;
}

.callback {
  position: absolute;
  display: block;
  padding: 13px 18px;
  font-size: 1.875em; /*30/16*/
  color: #ffffff;
  background-color: #fd2017;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-decoration: none;
}

.main-container {

}

.articles-wrapper {
  margin-bottom: 20px;
  background-color: #565656;
}

article {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 133px;
  background-size: cover;
}

.gas-boiler {
  padding-bottom: 50px;
  background-image: url("../img/background1.jpg");
}

h2 {
  margin: 0 0 22px 0;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 3em; /*48/16*/
  color: #fffefe;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 span {
  border-bottom: 2px solid #ffffff;
}

.article-features {
  max-width: 1060px;
  margin: 0 auto 44px auto;
}

.feature {
  position: relative;
  display: inline-block;
  width: 44%;
  margin: 0 0 17px 0;
  padding-left: 40px;
  font-size: 1.1875em; /*19/16*/
  line-height: 29px;
  letter-spacing: 0.08em;
  vertical-align: top;
}

.feature::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 29px;
  height: 29px;
  background: url("../img/sprite.png") -5px -43px no-repeat;
}

.feature-1,
.feature-3 {
  margin-right: 4%;
}

.brands {
  margin-bottom: 70px;
  text-align: center;
}

.brand {
  margin-right: 9px;
}

.brand-5 {
  margin-right: 0;
}

.article-description {
  max-width: 1134px;
  margin: 0 auto 12px auto;
  padding: 15px 10px;
  font-weight: 300;
  font-size: 1.125em; /*18/16*/
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  background-color: rgba(0, 0, 0, 0.17);
}

.scroll {
  display: block;
  width: 44px;
  height: 76px;
  margin: 0 auto;
  font-size: 0;
  background: url("../img/sprite.png") -5px -130px no-repeat;
}

.scroll-up,
.scroll-down {
  display: block;
  width: 44px;
  height: 38px;
}

.heating {
  padding: 143px 0 30px 0;
  background-image: url("../img/background2.jpg");
}

.heating .article-description {
  margin-bottom: 87px;
}

.warm-floor {
  padding: 180px 0 30px 0;
  background-image: url("../img/background3.jpg");
}

.warm-floor .article-heading {
  margin-bottom: 110px;
}

.warm-floor .article-description {
  margin-bottom: 20px;
}

.order {
  margin-bottom: 47px;
  padding: 12px 0 40px 0;
  text-align: center;
  background-color: #fd2017;
  background-image: url("../img/order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.order-heading {
  display: inline-block;
  margin: 0 0 25px 0;
  padding: 13px 40px 13px 41px;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.875em; /*30/16*/
  color: #fd2017;
  background-color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.order-form {
  position: relative;
}

.order-form input {
  width: 363px;
  margin-bottom: 15px;
  padding: 10px 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:  1.8125em; /*29/16*/
  color: #1a1a1a;
  letter-spacing: 0.08em;
  border: none;
}

/*.order-form input::placeholder,
.order-form input::-webkit-input-placeholder,
.order-form input::-moz-placeholder,
.order-form input:-moz-placeholder,
.order-form input:-ms-input-placeholder,
.order-form input:placeholder-shown {
  color: #1a1a1a;
  color: red;
}*/

input::placeholder {
  color: red;
  opacity: 1;
}

input:placeholder-shown {
  color: #1a1a1a;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #1a1a1a;
  opacity: 1;
}

input::-moz-placeholder {
  color: #1a1a1a;
  opacity: 1;
}

input:-moz-placeholder {
  color: #1a1a1a;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #1a1a1a;
  opacity: 1;
}

.order-form .order-name {
  margin-right: 15px;
  padding-left: 126px;
  background: #ffffff url("../img/sprite.png") 23px -211px no-repeat;
}

.order-form .order-phone {
  padding-left: 95px;
  background: #ffffff url("../img/sprite.png") 30px -263px no-repeat;
}

.order-btn {
  position: absolute;
  bottom: -62px;
  left: 50%;
  width: 336px;
  margin-left: -169px;
  padding: 11px 0;
  font-weight: 500;
  font-size: 1.8125em; /*29/16*/
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #fd2017;
  border: 2px solid #ffffff;
}

.btn {
  cursor: pointer;
}

.main-footer {
  padding: 0 0 25px 0;
  font-weight: 300;
  font-size: 1em;
  background-color: #1a1a1a;
}

.main-footer::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #c01a13;
}

.footer-top {
  max-width: 1090px;
  margin: 27px auto 25px auto;
}

.schedule {
  float: left;
  margin: 0;
  padding-top: 10px;
  line-height: 1.25;
  letter-spacing: 0.08em;
}

.footer-contacts {
  float: right;
}

.footer-phone {
  margin: 0;
  font-weight: 700;
  font-size: 1.875em; /*30/16*/
  letter-spacing: 0.08em;
}

.footer-description {
  margin: 0;
  letter-spacing: 0.08em;
}

.copyright-description {
  font-size: 0.765625em; /*12,15/16*/
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.footer-copyright {
  text-align: center;
}

.copyright-description {
  position: relative;
  /*max-width: 190px;*/
}

.copyright-description::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -34px;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/sprite.png") -5px -5px no-repeat;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

@keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

.modal-window {
  display: none;
}

.modal-window-open {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 99;
  display: block;
  width: 502px;
  margin: 0 0 0 -251px;
  padding-bottom: 70px;
  background-color: #ffffff;
  animation: bounce 0.6s;
}

.modal-heading {
  margin: 0 0 25px 0;
  padding: 14px 0 13px 0;
  font-weight: 500;
  font-size: 1.9375em; /*31/16*/
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #fd2017;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 38px;
  height: 38px;
  background: url("../img/sprite.png") -5px -82px no-repeat;
  cursor: pointer;
  border: none;
}

.modal-form {
  position: relative;
  width: 81.27490039840637%; /*408/502*/
  margin: 0 auto;
}

.modal-form label {
  display: none;
}

.modal-form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 11px 0 10px 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:  1.8125em; /*29/16*/
  color: #1a1a1a;
  letter-spacing: 0.08em;
  border: 3px solid #fd2017;
  border-radius: 5px;
}

.modal-form .modal-name {
  padding-left: 126px;
  background: #ffffff url("../img/sprite.png") 23px -211px no-repeat;
}

.modal-form .modal-phone {
  padding-left: 97px;
  background: #ffffff url("../img/sprite.png") 33px -263px no-repeat;
}

.modal-btn {
  position: absolute;
  bottom: -132px;
  left: 50%;
  width: 111.5196078431373%; /*455/408*/
  margin-left: -55.75980392156863%; /*width/2*/
  padding: 11px 0;
  font-weight: 500;
  font-size: 1.8125em; /*29/16*/
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #fd2017;
  background-image: linear-gradient(#fe372f 45%, #fd2017 55%);
  border: none;
}

.modal-text {
  max-width: 65%; /*приблизительно 320/502*/
  margin: 0 auto;
  font-size: 1.0625em; /*17/16*/
  text-align: center;
  color: #1a1a1a;
  letter-spacing: 0.08em;
}

.modal-overlay {
  display: none;
}

.modal-overlay-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}

.success-sent,
.success-overlay {
  display: none;
}

.success-sent-open {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 99;
  display: block;
  max-width: 470px;
  margin: 0 auto;
  padding: 15px 15px 30px 15px;
  font-weight: 500;
  font-size: 1.5em;
  color: #1a1a1a;
  text-align: center;
  background-color: #ffffff;
  animation: bounce 0.6s;
}

.success-btn {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 180px;
  margin-left: -100px;
  padding: 10px;
  font-weight: 500;
  font-size: 1.2em;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background-color: #fd2017;
  border: none;
}

.success-overlay-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}

@media screen and (max-width: 1210px) {
  .header-wrapper {
    padding-left: 3%;
    padding-right: 3%;
  }

  .gas-boiler,
  .heating,
  .warm-floor {
    padding: 10% 5% 0 5%;
  }

  h2 {
    font-size: 2em;
  }

  .heating .article-heading {
    font-size: 1.5em;
  }

  .feature {
    width: 40%;
  }

  .brand {
    margin-bottom: 5px;
  }

  .footer-top {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 1050px) {
  .company-info,
  .user-info {
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .callback {
    left: 0;
    right: 0;
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  .company-info {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  /*.header-phone {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }*/

  .order-form .order-name,
  .order-form .order-phone {
    display: block;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .order-btn {
    bottom: -75px;
  }
}

@media screen and (max-width: 750px) {
  .feature {
    width: 80%;
  }

  .feature-1,
  .feature-3 {
   margin-right: 0;
  }

  .footer-contacts,
  .schedule {
    float: none;
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .company-info {
    margin-bottom: 20px;
    text-align: left;
  }

  .main-logo {
    float: left;
  }

  .company-title {
    display: inline;
    font-size: 1.15em;
  }

  .header-phone {
    font-size: 1.75em;
  }

  .gas-boiler {
    padding-top: 30%;
  }

  .brand {
    margin-right: 0;
  }

  .modal-window {
    width: 400px;
    margin: 0 0 0 -200px;
  }

  .modal-heading {
    padding-left: 10px;
    text-align: left;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .header-phone {
    font-size: 1.6em;
  }

  .callback {
    left: 0;
    right: 0;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  .order-heading {
    width: 90%;
    padding: 13px 0;
    font-size: 1.5em;
  }

  .order-form .order-name,
  .order-form .order-phone {
    width: 90%;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .order-form .order-name {
    padding-left: 100px;
  }

  .order-form .order-phone {
    padding-left: 80px;
  }

  .order-btn {
    right: 0;
    bottom: -75px;
    left: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 0;
  }

  .schedule {
    font-size: 0.9em;
  }

  .footer-phone {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .modal-window {
    width: 310px;
    margin: 0 0 0 -155px;
  }

  .modal-form .modal-name,
  .modal-form .modal-phone {
    width: 90%;
    font-size: 1.25em;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .modal-form .modal-name {
    padding-left: 100px;
    background-position: 15px -211px;
  }

  .modal-form .modal-phone {
    padding-left: 70px;
    background-position: 25px -263px;
  }
}

/*#results,
#results1 {
  color: black;
}*/
